@charset "UTF-8";
@font-face{
    font-family: "Lato";
    src:url(../lib/Lato/Lato-Regular.ttf);
}
@font-face{
    font-family: "LatoLight";
    src:url(../lib/Lato/Lato-Light.ttf);
}
body {
    position: relative;
    width:100%;
    min-height: 80vh;
    margin: 0;
}

a {
	text-decoration: none;
}
@media screen and (min-width:750px) {
	.head .normal {
	    display: block
	}
	.head .dropdown,.menu {
	    display: none
	}
}
@media screen and (max-width:750px) {
    .head .normal {
        display: none
    }
    .head .dropdown {
        display: block;
        font-size: 20px;  
    }
}
/** iphone **/
@media screen and (max-width: 750px) {
    .head {
		height: 40px;
		line-height: 40px;
	}
    .head-title {
    	width: 100%;
    	margin-right: -10%;
    }
    .foot-message {
    	font-size: 9px;
    	transform: scale(0.6);
    }
    .message-title {
        font-size: 16px;
    }
    /*pages 竖屏*/
    @media screen and (orientation:portrait) {
        body {
            min-height:82vh;
        }
        .foot-container {
            height: 18vh;
        }
	    .menu-container {
            height: 61%;
        }
        .menu-title {
            height: 12%;
            padding-left: 3%;
        }
        .menu-bar {
            height: 11%;
            line-height: 300%;
        }
        .title-green {
            margin-left: 3%;
        }
        .title-lighter {
            font-size: 14px; 
        }
        .title-small {
            font-size: 10px;
            transform: scale(0.9);
            line-height: 8px;
        }
	}
    /*lanscape 横屏*/
	@media screen and (orientation:landscape) {
        body {
            min-height:50vh;
        }
        .foot-container {
            height: 50vh;
        }
	    .menu-container {
            height: 90%;
        }
        .menu-title {
            height: 16%;
            padding-left: 5%;
        }
        .menu-bar {
            height: 11%;
            line-height: 220%;
        }
        .no-border {
            height: 20%;
        }
        .title-green {
            margin-left: 25%;
        }
        .title-lighter {
            font-size: 15px;
            margin-left: 3px; 
        }
        .title-bold {
            font-size: 15px;
        }
        #hideMenu {
            width: 25px;
            height: 35px;
        }
	}
}
/** ipad **/
@media screen and (min-width:751px) and (max-width:1024px) {
    body {
        min-height: 155vh;   
    }
	.head {
		height: 35px;
		line-height: 35px;
	}
    .head-title {
    	width: 20%;
    	font-size: 12px;
    }
    .normal {
    	width: 55%;
    	margin-left: 25%;
    	font-size: 10px;
    }
    .normal-scale {
    	margin-right: -13%;
        transform: scale(0.75);
    }
    .normal span {
    	margin-right: 2%;
    }
    .sign-in {
    	margin-left: 6%;
    }
    .foot-container {
    	height: 22vh;
    }
    .foot-message {
    	font-size: 8px;
    }
    .message-title {
        font-size: 16px;
    }
    .message-title .title-bold {
        font-size: 12px;
    }
    .message-title .title-small {
        font-size: 10px;
        transform: scale(0.8);
    }
}
/** desktop **/
@media screen and (min-width: 1025px) {
    body {
        min-height: 75vh;
    }
	.head {
		height: 60px;
		line-height: 60px;
	}
    .head-title {
    	width: 20%;
    	font-size: 20px;
    }
    .normal { 
    	width: 43%;
    	margin-left: 40%;
    	font-size: 13px;
    }
    .normal span {
    	margin-right: 2%;
    }
    .sign-in {
    	margin-left: 8%;
    }
    .foot-container {
    	height: 45vh;
    }
    .foot-message {
    	font-size: 12px;
    }
    .message-title {
        font-size: 18px;
        text-align: center;
    }
    .message-title .title-lighter {
        font-size: 18px;
        margin-left: 8px; 
    }
    .message-title .title-bold {
        font-size: 15px;
    }
    .message-title .title-small {
        font-size: 12px;
    }
}
.head {
	display: flex;
	flex-wrap: nowrap;
    font-family: "Lato";
}
.head-title {
    color: rgb(102,209,163);
    text-align: center;
}
.title-lighter {
    font-family: "LatoLight";
    font-weight: 100;
}
.title-bold {
    font-weight: 900;
}
.title-small {
    font-weight: 900;
}
.message-title .title-lighter {
    color: #ffffff;
}
.message-title .title-bold {
    color: #ffffff;
}
.message-title .title-small {
    color: #ffffff;
}
.head-menu,.head-menu a{
	color: rgb(153,153,153);
    text-decoration: none;
}
.head-menu a:hover {
    font-weight: 900;
}
.head-menu .active {
    font-weight: 900;
}
.sign-in a{
	color: rgb(102,209,163);
	margin-right: 0;
}

.menu {
	display: none;
    position: fixed;
    z-index: 10; 
    top: 0;
    left: 20%;
    width: 80%;
    height:100%;
    transform: translate(0,-2px);
    color: rgb(153,153,153);
    font-family: "Lato";
    background-color: #ffffff;
}
.menu a {
    text-decoration: none;
}
.menu-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1%;
}
.menu-title {
    display: table;
    flex-wrap: nowrap;
    width: 100%;
    font-size: 23px;
    border-bottom: 1px solid rgb(235,235,235);
}
.title-center {
    vertical-align:middle;   
    display:table-cell;
    width: 100%;
    height: 80%;
    margin: auto;
}
.title-green {
    color: rgb(101,211,166);
    font-size: 15px;
}
.title-center i {
    font-size: 28px;
}
#hideMenu {
    float: right;
    margin-right: 8%;
}
.menu-bar {
    display: table;
    width: 100%;
    padding-left: 6%;
    font-weight: 600;
    border-bottom: 1px solid rgb(235,235,235);
}
.menu-bar .active {
    color: rgb(102,102,102)
}
.menu-bar:hover {
    background-color: #cccccc;
}
.menu-bar a {
    display: block;
    color: rgb(153,153,153);
}
.foot-container {
    position: absolute;
    width: 100%;
    bottom: 0;
    transform: translate(0,100%);
	display: flex;
    font-family: "Lato";
	background-color: rgb(40,171,139);
}
.foot-message {
	margin:auto;
	text-align: center;
	color: #ffffff;
}
.massagesHide {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0,0,0,.3);
}
.aFather {
    display:table-cell;
    vertical-align:middle;   
}