.signup {
    width: 100%;
}
#bet, #betTmpl {
    width: 100%;
}
#bet {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.bet {
    width: 20%;
    display: flex;
    margin: auto ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Lato";
}
.email{
    width: 100%;
    margin-top: 20px;
}
.bet-word {
    font-size: 13px;
    font-weight: bold;
    color: rgb(153, 153, 153);
}
.bet-title {
    font-size: 26px;
    margin-top: 20px;
    color: rgb(153, 153, 153);
    font-weight: lighter;
}
.emailin{
    height: 35px;
    width: 100%;
    border: 1px solid rgb(229, 229, 229);
    margin-top: 2px;
    font-size: 15px;
}
.resetbtn {
    width: 100%;
    height: 35px;
    margin-top: 30px;
    display: flex;
    background: rgb(100,210,163);
    color: #fff;
    font-weight: bold;
    justify-content: center;
    line-height: 35px;
    font-family: "Lato";
    cursor: pointer;
}


/*mobile*/
@media screen and (max-width: 750px) {
    /*橫屏*/
    @media screen and (orientation: landscape)
    {
        .bet {
            width: 50%;
        }
        .resetbtn {
            margin-bottom: 40px;
        }
    }
    /*竖屏*/
    @media screen and (orientation: portrait)
    {
        .bet {
            width: 80%;
        }
        .bet-title {
            font-size: 26px;
        }
    }
}

/*ipad*/
@media screen and (max-width: 1024px) and (min-width: 751px) {
    .bet {
        width: 50%;
    }
    .bet-title {
        font-size: 42px;
    }
}

/*pc*/
@media screen and (min-width: 1025px) {
    .bet {
        width: 20%;
    }
}