.signup {
    width: 100%;
}
#bet, #betTmpl {
    width: 100%;
}
.bet {
    width: 20%;
    display: flex;
    margin: 30px auto 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.firstname, .lastname, .email, .mobile, .password, .facebook {
    width: 100%;
    margin-top: 15px;
}
.bet-word {
    font-size: 13px;
    color: rgb(153, 153, 153);
    font-weight: bold;
    font-family: "Lato";
}
.bet-title {
    font-size: 30px;
    color: rgb(153, 153, 153);
    font-weight: lighter;
    font-family: "Lato";
}
.firstnin, .lastnin, .emailin, .mobilein, .passwordin {
    height: 35px;
    width: 100%;
    border: 1px solid rgb(229, 229, 229);
    margin-top: 2px;
    font-size: 15px;
}
.facebook {
    width: 100%;
    height: 30px;
    display: flex;
    margin-top: 15px;
    background: rgb(61, 90, 148);
    border-radius: 7px;
    color: #fff;
    align-items: center;
    justify-content: center;
    font-family: "Lato";

    cursor: pointer;
}
.face {
    margin-bottom: 0;
}
.fa-facebook {
    margin-right: 5px;
    font-size: 17px;
}
.signupbtn {
    width: 100%;
    height: 35px;
    margin-top: 35px;
    display: flex;
    background: rgb(100,210,163);
    color: #fff;
    font-weight: bold;
    justify-content: center;
    line-height: 35px;
    font-family: "Lato";

    cursor: pointer;
}
.smaword1, .smaword2 {
    width: 100%;
    display: flex;
    font-family: "Lato";

    font-size: 10px;
    color: rgb(153, 153, 153);
    margin-bottom: 0;
    justify-content: center;
    align-items: center;
}
.smaword1 {
    margin-top: 8px;
}
a:link, a:hover, a:visited, a:active{
    color: #fff;
    text-decoration: none;
}


/*mobile*/
@media screen and (max-width: 750px) {
    /*橫屏*/
    @media screen and (orientation: landscape)
    {
        .bet {
            width: 50%;
        }
    }
    /*竖屏*/
    @media screen and (orientation: portrait)
    {
        .bet {
            width: 80%;
        }
    }
}

/*ipad*/
@media screen and (max-width: 969px) and (min-width: 751px) {
    .bet {
        width: 50%;
    }
}

/*pc*/
@media screen and (min-width: 970px) {
    .bet {
        width: 20%;
    }
}