@charset "UTF-8";
@font-face{
    font-family: "Lato";
    src:url(../lib/Lato/Lato-Regular.ttf);
}
@font-face{
    font-family: "LatoLight";
    src:url(../lib/Lato/Lato-Light.ttf);
}
@font-face{
    font-family: Montserrat;
    src:url(../lib/Montserrat-Light.otf);
}
@font-face{
    font-family: Montserrat-Light;
    src:url(../lib/Montserrat-ExtraLight.otf);
 }
.styles {
    display: flex;
    margin: auto ;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.styles-title1 {
    font-size: 26px;
    color: rgb(101, 211,164);
    font-family: Lato;
}
.styles-title2 {
    font-size: 22px;
    color: rgb(153, 153, 153);
    font-weight: lighter;
    font-family: Lato;
}
.stylesbtn {
    display: flex;
    background: rgb(100,210,163);
    color: #fff;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    font-family: Lato;
    cursor: pointer;
}
.elements {
    display: flex;
    margin: auto;
    justify-content: space-between;
    flex-wrap: wrap;
}
.element {
    margin: auto;
    display: flex;
    /*border:1px solid #000;*/
}
.element>i {
    width: 25%;
    color: rgb(101, 211,164);
}
.message>div {
    word-wrap: break-word;
}
.element-message {
    /*margin-left: 8px;*/
}
.name {
    font-family: Lato;
    font-weight: 600;
    color: rgb(101, 211,164);
}
.message {
    margin-top: 0;
    font-family: Montserrat;
    color: rgb(152, 152, 152);
    text-align: justify;
}
input {
    display: none;
}
.stylesbtn:link, .stylesbtn:hover, .stylesbtn:visited, .stylesbtn:active{
    color: #fff;
    text-decoration: none;
}

/*mobile*/
@media screen and (max-width: 750px) {
    /*橫屏*/
    @media screen and (orientation: landscape) {

        .elements {
            width: 110%;
            margin-top: -10vh;
            transform: scale(0.85,0.85);
        }
        .element {
            width: 50%;
            height: 13%;
            margin-top: 7vw;
        }
        .element-message {
            width: 100%;
        }
        .name {
            font-size: 16px;
        }
        .message {
            margin-top: 2px;
            font-size: 6px;
        }
        .stylesbtn {
            font-size: 13px;
            width: 33.33vw;
            height: 7vw;
            margin-top: 11vw;
            margin-bottom: 11vw;
            line-height: 11vw;
        }
        .element img {
            width: 10vw;
            height: 10vw;
            margin-left: -2vw;
            transform: scale(0.85,0.85);
        }
        .styles-title1 {
            margin-top: 5vw;
            margin-bottom: 5vw;
        }
        .styles-title2 {
            display: none;
        }
    }
    /*竖屏*/
    @media screen and (orientation: portrait) {
        .styles-title2 {
            display: block;
            margin-top: 8vw;
            margin-bottom: 8vw;
        }
        .styles-title1 {
            display: none;
        }
        .elements {
            width: 100%;
            margin-left: 1vw;
            margin-top: -10vh;
            transform: scale(0.8, 0.8);
        }
        .element-message {
            margin-left: 3vw;
        }
        .element {
            width: 100%;
            margin-bottom: 5vw;
            margin-left: -2vw;
        }
        .element img {
            width: 20vw;
            height: 20vw;
            /*transform: scale(0.7,0.7);*/
        }
        .name {
            font-size: 18px;
        }
        .message {
            font-size: 13px;
        }
        .stylesbtn {
            width: 50vw;
            height: 12vw;
            font-size: 11px;
            margin-top: 12vw;
            margin-bottom: 12vw;
        }
    }
}

/*ipad*/
@media screen and (max-width: 1024px) and (min-width: 751px) {

    .elements {
        width: 84vw;
        margin-top: -4vw;
        transform: scale(0.85,0.85);
    }
    .element {
        width: 42vw;
        height: 14vw;
        margin-top: 2vw;
        
    }
    .name {
        font-size: 16px;
    }
    .message {
        margin-top: 2px;
        font-size: 9px;
    }
    .stylesbtn {
        font-size: 13px;
        width: 31vw;
        height: 6vw;
        margin-top: 7vw;
        margin-bottom: 7vw;
        line-height: 11vw;
    }
    .element img {
        width: 10vw;
        height: 10vw;
        transform: scale(0.8,0.8);
    }
    .styles-title1 {
        margin-top: 7vw;
        margin-bottom: 5vw;
    }
    .styles-title2 {
        display: none;
    }
}

/*pc*/
@media screen and (min-width: 1025px) {
    .elements {
        margin-top: -3vw;
        width: 50vw;
    }
    .element {
        width: 24vw;
        height: 6vw;
        margin-top: 3vw;
        transform: scale(0.95,0.95);
    }
    .name {
        font-size: 17px;
    }
    .message {
        font-size: 12px;
    }
    .stylesbtn {
        font-size: 14px;
        width: 18vw;
        height: 3vw;
        margin-top: 8vw;
        margin-bottom: 8vw;
        line-height: 3vw;
    }
    .element img {
        width: 6vw;
        height: 6vw;
        transform: scale(0.8,0.8);
    }
    .styles-title1 {
        margin-top: 5vw;
        margin-bottom: 5vw;
    }
    .styles-title2 {
        display: none;
    }
}
/*transform: scale(0.1,0.1);*/