@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-06-22 09:43:45
 * @version $Id$
 */
.cnt {
	display: flex;
	flex-direction: column;
	text-align: center;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.cnt-text1 {
	margin-top: 25px;
	font-size: 20px;
	font-weight: 800;
	color: #999;
}
.cnt-text2 {
	margin-top: 25px;
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: 800;
	color: #64d2a3;
}
.cnt-text3 {
	font-size: 15px;
	font-weight: 500;
	color: #aaa;
}
.cnt-icon{
	margin-top: 25px;
	color: #64d2a3;
	font-size: 50px;
}
