
.therapists {
    width: 100%;
}
#bet, #betTmpl {
    width: 100%;
}
#bet {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.bet {
    width: 20%;
    display: flex;
    margin: auto ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Lato";
}
.bet-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bet-title1 {
    font-size: 26px;
    margin-top: 100px;
    margin-bottom: 15px;
    color: rgb(153, 153, 153);
    /*font-weight: bold;*/
    /*font-family: chlight;*/
    font-family: "Lato";
}
.bet-titlesmall {
    color: rgb(110,210,165);
    margin-top: -10px;
}

.therapistbtn {
    height: 35px;
    margin-top: 100px;
    margin-bottom:100px;
    display: flex;
    background: rgb(100,210,163);
    color: #fff;
    font-weight: bold;
    justify-content: center;
    align-items:center;
    line-height: 35px;
    font-family: "Lato";
    cursor: pointer;
}
.therapistbtn>p {
    margin:0;
}
.therapister {
    display: flex;
    margin: auto;
    justify-content: space-between;
    flex-wrap: wrap;
}
.element {
    /*margin: auto;*/
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /*border: 1px solid #000;*/
}
.headimg {
    flex-shrink: 2;
    border: 1px solid rgb(160, 160, 160);
}
.element-message {
    margin-left: 8px;
    width:66.67%;
    
    /*border: 1px solid #000;*/
}
.name {
    margin-top: -5px;
    color: rgb(110,210,165);
    font-weight: bold;
}
.message {
    width: 100%;
    margin-top: 2px;
    text-align:justify;
    text-justify:distribute-all-lines; 
    text-align-last:justify;
    /*-moz-hyphens: auto;*/
    /*-ms-hyphens: auto;*/
    /*-webkit-hyphens: auto;*/
    /*-ms-hyphens: auto;*/
    /*hyphens: auto;*/
    /*word-wrap: break-word;*/
    font-weight: bold;
    font-family: "Lato";
    color:rgb(102,102,102);
    /*font-size: 10px;*/
}
.message>p {
    width:100%;
    text-align: justify;
}

input {
    display: none;
}
.therapistbtn:link, .therapistbtn:hover, .therapistbtn:visited, .therapistbtn:active{
    color: #fff;
    text-decoration: none;
}

/*mobile*/
@media all and (max-width: 750px) {
    /*橫屏*/
    @media all and (orientation: landscape) {
        .therapister {
            width: 89vw;
        }
        .element {
            width: 37vw;
            height:13.8vw;
            margin-top:20px;
        }
        .headimg {
            width: 31%;
            height: 100%;
        }
        .message {
            font-size: 15px;
            width: 286%;
            transform-origin: top left;
            transform: scale(0.34);
            height: 8.7%;
            margin-top: 0px;
        }
        .element-message {
            width: 69%;
        }
        .therapistbtn {
            width: 33.33%;
            font-size:75%;
        }
        .bet-title1 {
            margin-top:0;
            font-size:19px;
        }
        .name {
            font-size:11px;
        }
    }
    /*竖屏*/
    @media all and (orientation: portrait) {
        body {
            overflow-x:hidden;
        }
        .therapister {
            width: 95vw;
            
        }
        .element {
            width: 100%;
            height:40%;
            margin-top:20px;
            transform: scale(0.95, 0.95);
            line-height:70%
        }
        .element-message {
            width:81%;
        }
        .headimg {
            width: 29%;
            height: 100%;
        }
        .message {
            font-size: 13px;
            width: 165%;
            transform-origin: top left;
            transform: scale(0.60);
            height: 9%;
            margin:0px;
            /*letter-spacing: 85%;*/
            /*margin-top:-3px;*/
        }
        .therapistbtn {
            width: 80vw;
            height: 12vw;
            font-size: 15px;
        }
        .bet-title1 {
            margin-top:0;
            font-size:19px;
        }
        .name {
            margin-top: -1px;
            margin-bottom: 4px;
            height: 9%;
        }
    }
}

/*ipad*/
@media all and (max-width: 1024px) and (min-width: 751px) {
    body {
        width: 100%;
    }
    .therapister {
        width: 89vw;
    }
    .headimg {
        width: 31%;
        height: 100%;
    }
    .element {
        width: 36vw;
        height: 12.8vw;
        margin-top: 20px;
    }
    .element-message {
        width: 79%;
        height: 100%;
    }
    .message {
        font-size:13px;
        height: 7.2%;
        width: 190%;
        transform-origin: top left;
        transform:scale(0.52);
       
    }
    .therapistbtn {
        width: 25%;
        font-size:75%;
    }
}

/*pc*/
@media all and (min-width: 1025px) {
    .therapister {
        width: 75vw;
    }
    .element {
        width: 30.4vw;
        height: 10.1vw;
        margin-top: 40px;
    }
    .headimg {
        width: 29%;
        height: 100%;
    }
    .element-message {
        flex-grow:2;
        width: 70%;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .message {
        font-size:13px;
        height:8%;
    }
    .therapistbtn {
        width: 20%;
        height:50px;
        font-size: 18px;
    }
    .name {
        font-size: 14px;
        margin-bottom: -5px;

    }
    .message,.name {
        width: 133%;
        transform-origin: top left;
        transform:scale(0.76);

    }
}
/*transform: scale(0.1,0.1);*/